body {
  background-color: rgb(141, 105, 240);
  color: rgb(0, 0, 0);
}
table {
  border-collapse: collapse;
  box-shadow: 0px 0px 7px 1px rgb(87, 51, 185);
}
td {
  border: 1.9px solid rgb(172, 142, 255);
  width: 19px;
  height: 19px;
  font-size: 0.7px;
  background-color: rgb(70, 35, 167);
  text-align: center;
}
td.opened {
  background-color: rgb(195, 173, 255);
}
td.flag {
  background-color: chocolate;
}
td.question {
  background-color: cornflowerblue;
}
